@charset "utf-8";
.window {
    padding-top: 20px;
    clear: both;
    background-color: wheat;
}
.menu {
    padding: 2%;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: wheat;
    font-size: large;
}
.menu a {
    color: black;
}
.menu a:hover {
    color: red;
}
.contents {
    float: left;
}
.button-line {
    flex-direction: row;
    justify-content: space-evenly;
}
.editor {
    font-size: 20px;
}
button{
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}
